@font-face {
    font-family: 'proxima';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/ProximaNova-Regular.otf');
    src: url('../fonts/ProximaNova-Regularlt.otf?#iefix') format('embedded-opentype'),
}

@font-face {
    font-family: 'proxima-black';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/ProximaNova-Black.otf');
    src: url('../fonts/ProximaNova-Black.otf') format('embedded-opentype');
}

@font-face {
    font-family: 'proxima';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/ProximaNova-Bold.otf');
    src: url('../fonts/ProximaNova-Bold.otf') format('embedded-opentype');
}

html {
    font-family: proxima;
}
body {
    background: #ffffff;
    height: 768px;
    width: 100%;
    margin: 0px;
}

#header-nav {
    height: 60px;
    width: 100%;
    background: #262728;
    overflow: hidden;
}

#container {
    width: 100%;
}

.logo {
    width: 140px;
    height: 27px;
    background: url("../images/logo.png") no-repeat;
    margin-top: 15px;
    margin-left: 100px;
    display: inline-block;
    cursor: pointer;
}

.dropdown-arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #4b4f54;
    float: right;
    margin: 30px 20px 0px 0px;
    cursor: pointer;
}

.avatar {
    width: 30px;
    height: 30px;
    background: url("http://lorempixel.com/30/30");
    margin-right: 5px;
    margin-top: 13px;
    border-radius: 2px;
    display: inline-block;
}

.new-message {
    width: 35px;
    height: 30px;
    background: url("../images/new-message.png") no-repeat;
    float: right;
    margin-top: 15px;
    cursor: pointer;
}

.search-box {
    width:200px;
    height: 25px;
    background-color: transparent;
    margin:15px 25px;
    border:1px solid #cfcfcf;
    -moz-border-radius: 5px; /* FF1+ */
    -webkit-border-radius: 5px; /* Saf3-4 */
    border-radius: 5px; /* Opera 10.5, IE 9, Saf5, Chrome */
    float: right;

}

.search-box img.search-icon {
    margin:5px 5px;
    float: right;
}

.search-box input {
    border:none;
    height:30px;
    width:200px;
    margin:0;
    position:absolute;
    font-size:16px;
    padding-left:5px;
    padding-right:5px;
    background: transparent;
    color: #ffffff;
}

#hero {
    height: 425px;
    background-image: url("../images/hero-image.png");
    overflow: hidden;
}

#new-post-container {
    height: 155px;
    width: 570px;
    background: #29b689;
    margin: 120px auto auto auto;
    opacity: 0.7;
    border-radius: 3px;
}

#new-post {
    height: 35px;
    width: 90%;
    background: transparent;
    font-size: 30px;
    font-family: proxima;
    text-indent: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    border: none;
    color: #ffffff;
}

::-webkit-input-placeholder {
    color: #ffffff;
    opacity: 0.5;
}

:-moz-placeholder { /* Firefox 18- */
    color: #ffffff;
    opacity: 0.5;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #ffffff;
    opacity: 0.5;
}

:-ms-input-placeholder {
    color: #ffffff;
    opacity: 0.5;
}

#new-post-actions {
    margin-left: 25px;
}

.action {
    display: inline-block;
    margin-right: 40px;
    cursor: pointer;
}

.action-icon-label {
    color: #ffffff;
    opacity: 0.5;
}

.add-photo {
    background: url("../images/add-photo2.png") no-repeat;
    display: inline-block;
    width: 20px;
    height: 23px;
    opacity: 0.5;
}

.add-video {
    background: url("../images/add-video.png") no-repeat;
    display: inline-block;
    width: 25px;
    height: 13px;
    opacity: 0.5;
}

.message-panel {
    z-index: 100;
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: white;
    z-index: 200;
    background-color: transparent;
}

.message-panel.show {
    display: block;
}

.message-panel .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: white;
    background-color: black;
    opacity: 0.7;
}

.message-panel .frame {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    width: 580px;
    height: 200px;
    background-color: #dee1e5;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -150px;
    padding: 40px;
    border-radius: 3px;
}

.message-panel .frame .new-message-input {
    position: absolute;
    width: 520px;
    left: 30px;
    height: 100px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 3px;
    resize: none;
}

.new-message-actions {
    position: absolute;
    bottom: 10px;
}

.hidden {
    display: none;
}

.pull-right {
    float: right;
}

.post {
    min-height: 155px;
    width: 570px;
    border: 1px solid #bec3cc;
    border-radius: 3px;
    margin-bottom: 20px;
}

.post > .avatar {
    vertical-align: top;
    margin-right: 20px;
    margin-left: 20px;
}

/* Home page styles */
.home-post-container {
    width: 570px;
    margin: 30px auto;
}

.post-action-container {
    color: #bec3cc;
}

.post-content {
    display: inline-block;
    width: 85%;
    margin-top: 15px;
}

.post-image > img {
    width: 100%;
    height: 220px;
}

.post-content > .username {
    display: inline-block;
}

.post-action {
    display:inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.post-reply {
    background: url("../images/reply-icon.png") no-repeat;
}

.post-like {
    background: url("../images/like-icon.png") no-repeat;
}
